html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    /* background-color: transparent; */
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopadding-left {
    padding-left: 0;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.scripts-sortable {
    margin: 20px auto;
    padding: 0;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-height: 175px;
    overflow: auto;
    background: #F5F4F7;
}

.scripts-sortable li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: "Tahoma";
    color: #1C94C4;
    margin: 10px 10px;
    padding: 5px;
    height: 32px;
    position: relative;
}

.scripts-sortable .sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}

.scripts-sortable .remove {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -10px 9px;
    font-size: 18px;
    padding: 0;
    line-height: 18px;
    cursor: pointer;
}

.section-html, .section-css,
.template-html, .template-css {
    min-height: 150px;
    max-height: 450px;
    overflow: auto;
}

.mar-tb-10 {
    margin: 10px 0;
}

.section-html, .template-html {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.bold {
    font-weight: bold;
}

.tbl {
    display: table;
    width: 100%;
}

.tbl-row {
    display: table-row;
}

.tbl-cell {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    text-alligne: left;
}

.two-column-info-table .tbl-cell:first-child {
    font-weight: bold;
}

#images-assignments {
    padding: 0 0 0 10px;

}

#images-assignments li {
    display: inline-block;

    position: relative;
    margin: 5px 20px 10px 5px;
}

#images-assignments li .remove {
    position: absolute;

    top: -17px;
    right: -14px;

}

#images-assignments li img {
    border-radius: 2px;

}

.navigation-simple .nav-item {
    display: inline-block;
    margin: 10px 0;
    padding: 0 10px;
    border-right: 1px solid #ccc;
}

.navigation-simple .nav-item:last-child {
    border: none;
}

.default-template-preview {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.default-template-preview img {
    max-width: 100%;
}

.simple-list li {
    list-style: none;
    padding: 10px;
}

.simple-list .list-image-preview {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.simple-list .list-image-preview img {
    width: 100%;
}

.updated {
    padding: 2px 0;
    font-size: 14px;
    font-weight: bold;
}

.subscription-included-templates{
    list-style: none;

}

.subscription-included-templates li{
    margin: 7px 0;

    width: 300px;
    background: #EEF2F5;
    padding: 5px;
    border: 1px dashed #D4E1EA;
    border-radius: 2px;
}

.subscription-included-templates a{
    font-size: 13px;

    vertical-align: bottom;
}

.subscription-included-templates img{
    padding-right: 7px;

    width: 65px;
}


.model-templates {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.model-templates li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: "Tahoma";
    color: #1C94C4;
    margin: 10px 10px;
    padding: 5px;
    height: 32px;
    position: relative;
}


.model-templates .remove {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -10px 9px;
    font-size: 18px;
    padding: 0;
    line-height: 18px;
    cursor: pointer;
}

pre code{
    max-height: 300px;
}